### 항공사 탑승객 예약 데이터
- 데이터 원본 : https://www.kaggle.com/datasets/manishkumar7432698/airline-passangers-booking-data
- 이 데이터 세트는 항공사의 휴일 예약과 관련된 고객의 선호도 및 행동에 대한 포괄적인 정보를 제공합니다.
- 이 데이터 세트는 예약 과정의 다양한 측면을 다루는 상세한 속성을 가지고 있어 항공업계의 고객 선택과 패턴을 분석하고 이해하는 데 이상적입니다.

In [ ]:
import pandas as pd

file_url = 'https://raw.githubusercontent.com/Soyoung-Yoon/eduatoz_bigdata/main/Passanger_booking_data.csv'

df = pd.read_csv(file_url)
df.head(3)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,0,0,0,7.21,1
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0

#### 퀴즈_01
- Passanger_booking_data.csv 의 데이터를 사용하여 풀이하여 주세요!
- trip_type 범주별 purchase_lead의 최대 값 중 가장 작은 값을 구하시오.

In [ ]:
# 여기에 풀이해 보세요!

354

#### 퀴즈_01 (step by step)
- trip_type 범주별 purchase_lead의 최대 값 중 가장 작은 값을 구하시오
- 제시된 설명을 보면서 순서대로 작업해 봅니다.

[1] trip_type 범주별 purchase_lead의 최대 값을 구해 max_values 라는 이름을 부여합니다.
> DataFrame에서 범주별 특정 컬럼의 통계량을 구하기 위해 DataFrame.groupby 함수를 사용합니다.
- DataFame : df
- 범주형_변수명 : 'trip_type'
- 통계량을_구할_컬럼명 : 'purchase_lead'
- 통계함수 : max
- 명령_형식 : DataFrame.groupby(범주형_변수명)[통계량을_구할_컬럼명].통계함수()
- 결과 type : Series

In [ ]:
max_values = # 여기에 작업해 보세요!
print(max_values)

[2] 위에서 구한 max_values에서 가장 작은값을 구하여 result 라는 이름을 부여합니다.
> Series에서 최소값을 구하기 위해 min 함수를 사용합니다.
- Series : max_values
- 통계함수 : min
- 명령_형식 : Series.min()
- 결과 type : int

In [ ]:
result = # 여기에 작업해 보세요!
print(result)

#### 퀴즈_02
- Passanger_booking_data.csv 의 데이터를 사용하여 풀이하여 주세요!
- 요일(flight_day) 별 승객(num_passengers) 의 합계를 구하고, 그 합계가 세 번째로 큰 값을 갖는 요일(flight_day)에 대한 booking_complete가 1인 것의 개수를 구하세요.
- 하하하!  복잡하게 만들어 보려고 하니 이상하지만 ^_^  도전입니다.

In [ ]:
# 여기에 풀이해 보세요!

1130

#### 퀴즈_02 (step by step)

[1] 요일(flight_day) 별 승객(num_passengers) 의 합계를 구해 sum_passengers 라는 이름을 부여합니다.
> DataFrame에서 범주별 특정 컬럼의 통계량을 구하기 위해 DataFrame.groupby 함수를 사용합니다.
- DataFame : df
- 범주형_변수명 : 'flight_day'
- 통계량을_구할_컬럼명 : 'num_passengers'
- 통계함수 : sum
- 명령_형식 : DataFrame.groupby(범주형_변수명)[통계량을_구할_컬럼명].통계함수()
- 결과 type : Series

In [ ]:
sum_passengers = # 여기에 작업해 보세요!
sum_passengers

flight_day
Fri    10528
Mon    12933
Sat     9387
Sun    10842
Thu    11699
Tue    12056
Wed    12121
Name: num_passengers, dtype: int64

[2] sum_passengers를 내림차순 정렬해서 세번째로 큰 값을 갖는 값의 index를 day로 저장합니다.
> Series에서 내림차순 정렬은 .sort_values(ascending=False)를 사용합니다. 그리고 그중에서 세 번째로 큰 값은 indexing을 [2]로 해서 구할 수 있으며, 그것의 index를 얻기 위해서는 [[2]].index[0]를 사용합니다.  [2]는 Scalar 이기 때문에 index가 없지만 [[2]]는 Series 이기 때문에 index가 있게 됩니다.
- DataFame : df
- 범주형_변수명 : 'flight_day'
- 통계량을_구할_컬럼명 : 'num_passengers'
- 통계함수 : sum
- 명령_형식 : DataFrame.groupby(범주형_변수명)[[통계량을_구할_index]].index[0]
- 결과 type :  문자열

In [ ]:
day = # 여기에 작업해 보세요!
print(day)

Tue

[3] df에서 요일('flight_day')이 위에서 구한 day와 같은 것에 대한 'book_complete' 컬럼을 구해 result_series 로 저장합니다.
> df.loc[행_indexer, 열_indexer]를 사용하여 구합니다.  
> df.loc[요일이 day와 같은 것, 'book_complete']
- DataFrame : df
- df.loc[행_indexer, 열_indexer] 사용
- 행_indexer : df['flight_day'] == day
- 열_indexer : 'book_complete'
- 명령_형식 : DataFrame.df.loc[행_indexer, 열_indexer]
- 결과 type :  Series

In [ ]:
result_series = # 여기에 작업해 보세요!
result_series

0        1
11       0
15       0
29       0
30       0
        ..
49978    0
49979    1
49981    0
49982    1
49985    0
Name: booking_complete, Length: 7674, dtype: int64

[4] result_series에서 1인 값의 개수를 세서 result로 저장합니다.
> Series.sum() 을 사용합니다.  
- Series : result_series
- Series.sum() 사용
- 결과 type :  int

In [ ]:
result = # 여기에 작업해 보세요!
print(result)

1130

#### 퀴즈_03
- Passanger_booking_data.csv 의 데이터를 사용하여 풀이하여 주세요!
- booking_origin 별 length_of_stay의 평균을 구하고, 그 평균값 중 가장 큰 것과 작은 것의 차이값을 구하여 출력하라. (단, 반올림하여 정수로 출력하도록 한다.)

In [ ]:
# 여기에 풀이해 보세요!

86

In [ ]:
max_value, min_value = df.groupby('booking_origin')['length_of_stay'].mean().sort_values(ascending=False).agg(['max', 'min'])
result = max_value - min_value
print(round(result))

#### 퀴즈_03 (step by step)

[1] booking_origin 별 length_of_stay의 평균을 구해 mean_length_of_stay 라는 이름을 부여합니다.
> DataFrame에서 범주별 특정 컬럼의 통계량을 구하기 위해 DataFrame.groupby 함수를 사용합니다.
- DataFame : df
- 범주형_변수명 : 'flight_day'
- 통계량을_구할_컬럼명 : 'num_passengers'
- 통계함수 : sum
- 명령_형식 : DataFrame.groupby(범주형_변수명)[통계량을_구할_컬럼명].통계함수()
- 결과 type : Series

여기까지 의견
- 문제지, 답지 분리 - OK
- 난이도 유지 - OK
- 단계별 type 설명 필요

아래는 앞으로 작업해 나갈 부분들입니다.

#### 퀴즈_04
- Passanger_booking_data.csv 의 데이터를 사용하여 풀이하여 주세요!
- booking_origin 별 length_of_stay의 평균을 구하고, 그 평균값 중 가장 큰 것과 작은 것의 차이값을 구하여 출력하라. (단, 반올림하여 정수로 출력하도록 한다.)

In [ ]:
import pandas as pd

file_url = 'https://raw.githubusercontent.com/Soyoung-Yoon/eduatoz_bigdata/main/Passanger_booking_data.csv'

df = pd.read_csv(file_url)
df.head(3)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,0,0,0,7.21,1
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0

In [ ]:
# [1] booking_origin 변수의 범주 종류를 확인해 봅니다.
df['booking_origin'].unique()

(104,)

In [ ]:
df['purchase_lead']

0         21
1        262
2        112
3        243
4         96
        ...
49997     27
49998    111
49999     24
50000     15
50001     19
Name: purchase_lead, Length: 50002, dtype: int64