### 5회 기출

### 작업1유형
- 출처 : 데이터마님
- https://www.datamanim.com/dataset/practice/ex5.html

#### 1-1) 종량제 봉투 가격
20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 정수로 답하라.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/waste_bags.csv')
df.head(2)

   시도명 시군구명 종량제봉투종류 종량제봉투용도  1L가격  2L가격  5L가격  10L가격  20L가격  30L가격
0  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0
1  경기도  안양시    규격봉투   생활쓰레기     0     0   150    300    550      0

In [ ]:
# 5-1-1)

#### 1-2) 성인 체중 및 키 데이터
BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비만은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/height_weight.csv')
df.head(2)

   ID  height(cm)  weight(kg)
0   0       171.2        63.1
1   1       171.1        68.5

In [ ]:
# 5-1-2) 단위 조심

#### 1-3) 년도별 서울 각 구의 초,중,고 전출 전입 인원
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

In [ ]:
# 5-1-3)

### 작업2유형
- 벤츠 차량 가격 예측 : https://www.kaggle.com/datasets/mysarahmadbhat/mercedes-used-car-listing
- train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv
- test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv
- 예측 변수 price, test.csv에 대해 price 값을 예측하여 제출, 제출 데이터 컬럼은 price만 존재해야함.
- 평가지표는 rmse

In [ ]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)

In [ ]:
##  파일이 2개로만 주어졌습니다.
# train.csv를 X_use, Y_use로 나누어 사용하셔야 합니다.